* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  .vectorSVG {
    background-color: black;
    height: 31.540979385375977px;
    width: 30.5089111328125px;
  
    margin: 25px 0px 6px 0px
    
  }
  .sidebar {
    height: 980px;
    width: 224px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  
    position: fixed;
  
    background: linear-gradient(180deg, #000000 0%, rgba(15, 13, 15, 0.65) 100%);
  
  }
  .h1-sidebar {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  
    color: white;
  }
  .btn-reset {
    bottom: 50px;
    height: 52px;
    width: 160px;
    border-radius: 6px;
    
    position: absolute;
  
    background: #F0C551;
    color: white;
  }