h1 {
    display: flex;
    justify-content: center;
    color: red;
}
.carta {
    height: 240px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.carta:hover {
    transform: scale(1.05);
}